:root {
  --font-plain: Helvetica Neue,Helvetica,Arial,sans-serif;
  --font-special: Barlow Condensed,Helvetica,sans-serif;
  --font-mono: Menlo,Courier,Courier New,Andale Mono,monospace;

  --color-dark: #050505;
  --color-darkish: #404040;
  --color-mid: grey;
  --color-lightish: #e6e6e6;
  --color-light: #fafafa;

  --ratio: 1.5;
  
  --space-5s: calc(var(--space)/var(--ratio)/var(--ratio)/var(--ratio)/var(--ratio)/var(--ratio));
  --space-4s: calc(var(--space)/var(--ratio)/var(--ratio)/var(--ratio)/var(--ratio));
  --space-3s: calc(var(--space)/var(--ratio)/var(--ratio)/var(--ratio));
  --space-2s: calc(var(--space)/var(--ratio)/var(--ratio));
  --space-s: calc(var(--space)/var(--ratio));
  --space: 1rem;
  --space-l: calc(var(--space)*var(--ratio));
  --space-2l: calc(var(--space)*var(--ratio)*var(--ratio));
  --space-3l: calc(var(--space)*var(--ratio)*var(--ratio)*var(--ratio));
  --space-4l: calc(var(--space)*var(--ratio)*var(--ratio)*var(--ratio)*var(--ratio));
  --space-5l: calc(var(--space)*var(--ratio)*var(--ratio)*var(--ratio)*var(--ratio)*var(--ratio));

  --line-height: var(--ratio);
  --line-height-s: calc(.8 * var(--ratio));

  --measure: 65ch;

  --border-thin: var(--space-5s);
  --border-thick: var(--space-2s);
}

html {
  font-size: calc(.333vw + 100%);
  line-height: var(--ratio);
  font-family: var(--font-plain);
  background-color: var(--color-light);
}

body {
  font: calc(.333vw + 1em)/var(--ratio) var(--font-plain);

  color: var(--color-dark);
  background-color: var(--color-light);

  margin: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

h1, h2, h3, h4, h5 {
  font-family: var(--font-special);
}

p {
  padding-left: var(--space);
  padding-right: var(--space);
  max-width: var(--measure);
}

p + p {
  margin-bottom: 1rem;
}

code,
kbd,
samp,
pre {
  font-family: var(--font-mono);
}

:where(iframe, img, input, video, select, textarea) {
  height: auto;
  max-width: 100%;
}